.services{
    &__service-wrapper{
        width: 50%;

        @media(min-width:280px) and (max-width: 768px){
            width: 100%;
        }
    }

    &__service{
        width: 97.5%;
        display: flex;

        @media(min-width:280px) and (max-width: 768px){
            width: 100%;
        }
    }

    @media(min-width:280px) and (max-width: 768px){
        padding-left: .625rem;
    }

    @media(min-width:768px) and (max-width: 1170px){ 
        padding: 0 .9375rem;
    }
}