.service{
    &--push-right{
        float: right;
    }
    
    &--push-down{
        margin-bottom: 2.6rem;
    }
    
    &__icon-wrapper{
        float: left;
        display: flex;
    }
    
    &__icon{
        width: 7.7rem;
        height: 7.7rem;
        border: .2rem solid $outline-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(min-width:280px) and (max-width: 768px){
            width: 6.25rem;
            height: 6.25rem;
        }
    }
    
    &__info-wrapper{
        display: flex;
        height: 100%;
        margin-top: 1.3rem;
    }
    
    &__info{
        margin-left: 1.5rem;
        margin-right: 1rem;
    }
    
    &__title{
        margin: .65rem 0;
        font-size: 1.2rem;
        letter-spacing: .023rem;

        @media(min-width:280px) and (max-width: 768px){
            margin-bottom: .625rem;
            font-size: 1rem;
        }
    }
    
    &__description{
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.8;
        font-size: .85rem;
        letter-spacing: 0.013rem;

        @media(min-width:280px) and (max-width: 768px){
            font-size: .75rem;
            line-height: 1.5;
        }
    }

    &--push-down-mobile{
        @media(min-width:280px) and (max-width: 768px){
            margin-bottom: 1.25rem;
        }
    }
}