*{
    font-family: 'Fjalla One';
}

h1,h2,h3{
    margin: 0;
    font-weight: 400;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

li{
    list-style-type: none;
}

ul{
    margin: 0;
    padding: 0;
}

button, input{
    border: 0;
    outline: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    background-color: $button-color;
    border-radius: .125rem;
    text-transform: uppercase;
    color: white;
}