#container{
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    max-width: 1171px;
    overflow: hidden;
}

.title{
    color: #5c5c5c;
    text-transform: uppercase;
}

.description{
    color: #a5a5a5;
}

#header-logo .title{
    margin-top: 6px;
}

#header-logo-description{
    font-size: 12px;
}

#header-buttons-wrapper{
    display: flex;
    margin-right: 35px;
}

.header-button{
    color: #a5a5a5;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 0 23px 0px 18px;
    margin: 0 1px 0px 3px;
    text-transform: uppercase;
}

.header-button:focus{
    background-color: #e24f43;
    color: #ffffff;
}

#header-menu-button{
    display: none;
}

.menu-icon-bar{
    background-color: #5c5c5c;
    border-radius: 2px;
    width: 30px;
    height: 3px;
}

.menu-icon-bar + .menu-icon-bar{
    margin-top: 5px;
}

#banner{
    position: relative;
    height: 100%;
}

#banner-image{
    vertical-align:bottom;
    width: 100%;
}

#banner ul li{
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

#banner ul li:nth-child(1){
    background-color: rgba(0,0,0,.6);
    border-top-left-radius: 3px;
    top: 0;
    left: 0;
}

#banner ul li:nth-child(2){
    background-color: rgba(0,0,0,.4);
    border-top-right-radius: 3px;
    top: 0;
    right: 0;
}

#banner ul li:nth-child(3){
    background-color: rgba(0,0,0,.4);
    border-bottom-left-radius: 3px;
    bottom: 0;
    left: 0;
}

#banner ul li:nth-child(4){
    background-color: rgba(0,0,0,.1);
    border-bottom-right-radius: 3px;
    bottom: 0;
    right: 0;
}

#banner ul li:last-child .banner-blackout-title{
    background-color: #e24f43;
}

.banner-blackout-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    padding: 0px 11px 0px 9px;
    background-color: #000000;
    color: #eeeeee;
    font-size: 18px;
    text-transform: uppercase;
}

#title-main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 58px 0px 64px 0px;
}

#title-main{
    font-size: 30px;
}

#title-main-description{
    font-size: 18px;
    text-transform: uppercase;
}

#title-main-wrapper button{
    height: 54px;
    width: 230px;
    font-size: 20px;
    padding: 0;
}

#title-main-wrapper button span{
    padding-right: 12px;
}

.separator{
    height: 1px;
    background-color: #dfdfdf;
    width: 100%;
}

#content-table-wrapper{
    margin: 59px 0px;
}

#content-table-wrapper ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#content-table-wrapper ul li{
    width: 50%;
}

.content-table-icon-wrapper{
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

#content-table-wrapper ul li:first-child,
#content-table-wrapper ul li:nth-child(2){
    margin-bottom: 41px;
}

.content-table-icon{
    width: 130px;
    height: 130px;
    border: 3px solid #dfdfdf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table-info-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
}

.content-table-info{
    padding-left: 24px;
    padding-right: 41px;
}

.content-table-title{
    margin-bottom: 24px;
}

.content-table-title h3{
    font-size: 20px;
}

.content-table-description{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    font-size: 14px;
}

#subscribe-area{
    background-color: #5c5c5c;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 30px;
}

#subscribe-area-title{
    color: #ffffff;
    text-transform: uppercase;
}

#subscribe-area-title h3{
    font-size: 29px;
}

#subscribe-area form{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 72px;
}

#subscribe-area input{
    height: 40px;
    border: 0;
    padding: 0;
    margin-right: 20px;
}

#subscribe-area input[type="text"]{
    width: 330px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b1b1b1;
    padding-left: 10px;
}

#subscribe-area input[type="submit"]{
    width: 130px;
    font-size: 18px;
}

#subscribe-area input:last-child{
    margin-right: 20px;
}

#users-panel{
    margin-bottom: 60px;
}

#users-panel ul{
    display: flex;
    flex-wrap: wrap;
}

#users-panel ul li{
    height: 458px;
    width: 270px;
    margin-right: 30px;
}

#users-panel ul li:last-child{
    margin-right: 0;
}

.users-card-photo img{
    vertical-align: bottom;
}

.users-card-info{
    border: 1px solid #dfdfdf;
    border-radius: 0px 0px 3px 3px;
    padding: 30px;
}

.users-card-name{
    margin-bottom: 25px;
}

.users-card-name h3{
    font-size: 20px;
    color: #5c5c5c;
    text-transform: uppercase;
}

.users-card-description{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.users-card-info button{
    height: 30px;
    width: 50px;
    margin-top: 30px;
    font-size: 14px;
}

.footer-card{
    width: 25%;
}

.footer-card-name{
    text-transform: uppercase;
    font-size: 20px;
    color: #5c5c5c;
    margin-bottom: 20px;
}

.footer-card-info{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdbdbd;
}

.footer-card-info ul{
    display: flex;
}

.footer-card-info ul li{
    margin-right: 40px;
}

.footer-card-info ul li span{
    margin-left: 7px;
}

.footer-card-info ul li a{
    color: inherit;
}

header{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 115px;
    justify-content: space-between;
    border-top: 5px solid #5c5c5c;
    align-items: center;
    margin-bottom: 5px;
}

button, 
button:active, 
button:focus,
input[type="submit"],
input[type="submit"]:active,
input[type="submit"]:focus {
    outline: none;
}

button,
input[type="submit"]{
    background-color: #e24f43;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
}

h1,h2{
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 30px;
    padding: 0;
    line-height: 0.8;
}

h2{ 
    font-size: 18px;
}

h3{
    font-weight: 400;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

li{
    list-style-type: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

footer{
    display: flex;
    margin: 50px 0px 80px 0px;
}

*{
    font-family: 'Fjalla One';
}

@media(min-width:280px) and (max-width: 768px){
    #users-panel ul li:last-child{
        margin-bottom: 0;
    }
    
    #users-panel ul li{
        margin-right: 0;
        margin-bottom: 15px;
    }

    #users-panel ul{
        justify-content: center;
        max-width: 270px;
    }

    #users-panel{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #subscribe-area input:last-child{
        margin: 0;
    }

    #subscribe-area input[type="text"],
    #subscribe-area input[type="submit"]{
        width: 100%;
    }
    
    #subscribe-area{
        justify-content: center;
        margin-bottom: 30px;
    }

    #subscribe-area form{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 10px;
    }

    #subscribe-area form input{
        margin: 0;
        margin-bottom: 10px;
    }

    #subscribe-area form input:last-child{
        margin-bottom: 0px;
    }

    #content-table-wrapper ul li:first-child,
    #content-table-wrapper ul li:nth-child(2),
    #content-table-wrapper ul li:nth-child(3){
        margin-bottom: 20px;
    }
    
    .content-table-title h3{
        font-size: 16px;
    }

    .content-table-title{
        margin-bottom: 10px;
    }

    .content-table-description{
        font-size: 12px;
        line-height: 1.5;
    }
    
    #content-table-wrapper ul li{
        width: 100%;
    }

    #content-table-wrapper ul{
        padding-left: 10px;
    }
    
    .content-table-icon{
        width: 100px;
        height: 100px;
    }

    #content-table-wrapper{
        margin: 30px 0px;
    }

    #title-main-wrapper button{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        height: 45px;
        width: 180px;
    }

    #title-main{
        font-size: 20px;
        text-align: center;
    }
    
    #title-main-description{
        font-size: 12px;
        text-align: center;
    }

    #title-main-info{
        width: 100%;
    }

    #title-main-wrapper{
        margin: 15px 0px;
    }

    #header-buttons-wrapper{
        display: none;
    }

    .header-button{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-top: 1px solid #a5a5a5;
        border-radius: 0px;
    }

    .header-button:last-child{
        border-bottom: 1px solid #a5a5a5;
    }

    #header-logo{
        padding: 15px
    }

    header{
        height: auto;
    }

    #header-menu-button{
        display: block;
        margin-right: 30px;
    }

    #header-menu-button:active + #header-buttons-wrapper,
    #header-menu-button:hover + #header-buttons-wrapper{
        display: block;
        width: 100%;
    }

    .footer-card-name{
        margin-bottom: 5px;
        font-size: 16px;
    }

    .footer-card-info{
        display: flex;
    }

    footer{
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 0px 15px 0px;
    }

}

@media(min-width: 280px) and (max-width: 415px){
    .banner-blackout-title{
        font-size: 9px;
        padding: 6px;
    }

    .footer-card{
        width: 90%;
        margin-bottom: 15px;
    }

    .footer-card:last-child{
        margin-bottom: 0;
    }
}

@media(min-width: 416px) and (max-width: 767px){
    .banner-blackout-title{
        font-size: 12px;
        padding: 10px;
    }

    .footer-card{
        width: 40%;
        margin-bottom: 15px;
    }

    .footer-card:last-child{
        margin-bottom: 0;
    }

    footer{
        justify-content: space-around;
    }
}

@media(min-width:768px) and (max-width: 1170px){  
    #users-panel{
        display: flex;
        justify-content: center;
    }
    
    #users-panel ul{
        max-width: 600px;
        display: flex;
        justify-content: space-between;
    }
    
    #users-panel ul li{
        margin: 0 0 15px 0;
    }

    #subscribe-area-title{
        margin-bottom: 10px;
    }

    #subscribe-area{
        justify-content: center;
    }

    #content-table-wrapper ul {
        padding: 0 15px;
    }

    #header-logo{
        padding-left: 10px;
    }

    #title-main-wrapper{
        margin: 40px 10px;
    }

    .footer-card{
        width: 20%;
    }

    .footer-card-name{
        margin-bottom: 5px;
    }

    .footer-card-info ul li{
        margin-right: 15px;
    }

    .footer-card-info ul li span{
        margin-left: 0;
    }

    footer{
        margin: 15px 0px 15px 0px;
        justify-content: space-around;
    }
}