.u-overflow-hidden{
    overflow: hidden;
}

.container__body{
    margin: auto;
    width: 100%;
    max-width: 73.1875rem;
}

.header{
    box-sizing: border-box;
    height: 7.2rem;
    border-top: .3125rem solid #5c5c5c;
}

.container__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
}

.title{
    color: #5c5c5c;
    text-transform: uppercase;
}

.logo{
    font-size: 1.87rem;
    padding: 0;
}

.description{
    color: #a5a5a5;
}

.header__title{
    line-height: 1.1;
}

.header__logo-description{
    font-size: 0.745rem;
}

.header__buttons-wrapper{
    display: flex;
    margin-right: 2.3rem;
}

.header__button{
    color: #a5a5a5;
    border-radius: 0.1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.37rem 0 1.1rem;
    margin: 0 0 0 0.25rem;
    text-transform: uppercase;
}

.header__button:focus{
    background-color: #e24f43;
    color: #ffffff;
}

.header__menu-button{
    display: none;
}

.menu-icon-bar{
    background-color: #5c5c5c;
    border-radius: 0.1rem;
    width: 2rem;
    height: 0.2rem;
}

.menu-icon-bar + .menu-icon-bar{
    margin-top: 0.33rem;
}

.banner{
    height: 100%;
}

.container__banner{
    position: relative;
}

.banner__image{
    vertical-align:bottom;
    width: 100%;
}

.banner__blackout{
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.banner__blackout--first{
    background-color: rgba(0,0,0,.6);
    border-top-left-radius: 0.2rem;
    top: 0;
    left: 0;
}

.banner__blackout--second{
    background-color: rgba(0,0,0,.4);
    border-top-right-radius: 0.2rem;
    top: 0;
    right: 0;
}

.banner__blackout--third{
    background-color: rgba(0,0,0,.4);
    border-bottom-left-radius: 0.2rem;
    bottom: 0;
    left: 0;
}

.banner__blackout--forth{
    background-color: rgba(0,0,0,.1);
    border-bottom-right-radius: 0.2rem;
    bottom: 0;
    right: 0;
}

.banner__blackout-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    padding: 0 0.7rem 0 0.55rem;
    background-color: #000000;
    color: #eeeeee;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
}

.banner__blackout-title--highlighted{
    background-color: #e24f43;
}

.main__headline-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3.7rem 0;
}

.headline__title{
    line-height: 1;
    margin-bottom: .51rem;
}

.headline__description{
    font-size: 1.125rem;
    text-transform: uppercase;  
}

.headline__button{
    height: 3.35rem;
    width: 14.35rem;
    font-size: 1.25rem;
    padding: 0;
    margin-right: 0.1rem;
}

.headline__button::before{
    content: "→";
    padding-right: .5rem;
}

.separator{
    height: .05rem;
    background-color: #dfdfdf;
    width: 100%;
}

.main__services-wrapper{
    width: 100%;
    margin: 3.7rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__service-wrapper{
    width: 50%;
}

.service--push-right{
    float: right;
}

.services__service{
    width: 97.5%;
    display: flex;
}

.service--push-down{
    margin-bottom: 2.6rem;
}

.service__icon-wrapper{
    float: left;
    display: flex;
}

.service__icon{
    width: 7.7rem;
    height: 7.7rem;
    border: .2rem solid #dfdfdf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__info-wrapper{
    display: flex;
    height: 100%;
    margin-top: 1.3rem;
}

.service__info{
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.service__title{
    margin: .65rem 0;
    font-size: 1.2rem;
    letter-spacing: .023rem;
}

.service__description{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    font-size: .85rem;
    letter-spacing: 0.013rem;
}

.main__subscribe-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.8rem;
}

.subscribe-area{
    background-color: #5c5c5c;
    border-radius: 0.2rem;
    padding: 1.86rem;
}

.subscribe-area__title{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
}

.subscribe-area__form{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 4.5rem;
}

.input:active,
.input:focus{
    outline: none;
}

.subscribe-area__text-input{
    width: 20.6rem;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b1b1b1;
    padding: 0 0 0 .65rem;
    border-radius: .2rem;
    height: 2.5rem;
    margin-right: 1.25rem;
}

.subscribe-area__button{
    width: 8.125rem;
    font-size: 1.125rem;
    height: 2.5rem;
    margin-right: 1.25rem;
}

.main__users-panel-wrapper{
    margin-bottom: 3.75rem;
}

.main__users-panel{
    display: flex;
    flex-wrap: wrap;
}

.users-panel__card{
    height: 28.625rem;
    width: 16.875rem;
    margin-right: 1.875rem;
}

.users-panel__card--remove-bottom-indent{
    margin-right: 0;
}

.users-panel__card-photo{
    vertical-align: bottom;
}

.users-card__info{
    border: .0625rem solid #dfdfdf;
    border-radius: 0 0 .1875rem .1875rem;
    padding: 1.6875rem 2.1875rem 1.6875rem 1.8125rem;
}

.users-card__name{
    margin-bottom: .625rem;
    font-size: 1.25rem;
}

.users-card__description{
    font-size: .875rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.75;
}

.users-card__button{
    height: 1.875rem;
    width: 3.125rem;
    margin-top: 1.4375rem;
    font-size: 0.875rem;
}

.container__footer{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 5rem 0;
}

.footer__card{
    width: 23%;
}

.footer__card-name{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #5c5c5c;
    margin-bottom: .625rem;
}

.footer__card-info{
    font-size: .875rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdbdbd;
}

.footer__sn-wrapper{
    display: flex;
}

.footer__sn{
    margin-right: 2.5rem;
}

h1,h2,h3{
    margin: 0;
    font-weight: 400;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

li{
    list-style-type: none;
}

ul{
    margin: 0;
    padding: 0;
}

button, input{
    border: 0;
    outline: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    background-color: #e24f43;
    border-radius: .125rem;
    text-transform: uppercase;
    color: #ffffff;
}

*{
    font-family: 'Fjalla One';
}

@media(min-width:280px) and (max-width: 768px){
    .header{
        height: auto;
    }

    .header__logo{
        padding: .9375rem;
    }

    .header__menu-button{
        display: block;
        margin-right: 1.875rem;
    }

    .header__menu-button:active + .header__buttons-wrapper,
    .header__menu-button:hover + .header__buttons-wrapper{
        display: block;
        width: 100%;
    }

    .header__buttons-wrapper{
        display: none;
        margin: 0;
    }

    .header__button{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: .625rem;
        border-top: .0625rem solid #a5a5a5;
        border-radius: 0;
    }

    .header-button:last-child{
        border-bottom: .0625rem solid #a5a5a5;
    }

    .main__headline-wrapper{
        margin: .9375rem 0;
    }

    .headline{
        font-size: 1.25rem;
        text-align: center;
    }

    .headline__info{
        width: 100%;
    }

    .headline__title{
        font-size: 1.5625rem;
    }
    
    .headline__description{
        font-size: 1rem;
        text-align: center;
    }

    .headline__button{
        margin-top: .625rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        height: 2.8125rem;
        width: 11.25rem;
    }

    .main__services-wrapper{
        margin: 1.875rem 0;
    }

    .services{
        padding-left: .625rem;
    }

    .services__service-wrapper{
        width: 100%;
    }

    .services__service{
        width: 100%;
    }

    .service--push-down-mobile{
        margin-bottom: 1.25rem;
    }

    .service__icon{
        width: 6.25rem;
        height: 6.25rem;
    }

    .service__title{
        margin-bottom: .625rem;
        font-size: 1rem;
    }

    .service__description{
        font-size: .75rem;
        line-height: 1.5;
    }

    .main__subscribe-area{
        justify-content: center;
        margin-bottom: 1.875rem;
    }

    .subscribe-area__form{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: .625rem;
    }

    .subscribe-area__text-input,
    .subscribe-area__button{
        width: 100%;
        margin: 0 0 .625rem 0;
    }

    .subscribe-area__button{
        width: 100%;
        margin: 0;
    }

    .main__users-panel-wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 1.875rem;
    }

    .users-panel{
        justify-content: center;
        max-width: 16.875rem;
    }

    .users-panel__card{
        margin-right: 0;
        margin-bottom: .9375rem;
    }

    .users-panel__card--remove-bottom-indent{
        margin-bottom: 0;
    }

    .footer{
        flex-wrap: wrap;
        justify-content: center;
        margin: .9375rem 0 .9375rem 0;
    }

    .footer__card-name{
        margin-bottom: .3125rem;
        font-size: 1rem;
    }

    .footer__sn{
        margin-right: .625rem;
    }
}

@media(min-width: 280px) and (max-width: 415px){
    .banner__blackout-title{
        font-size: .5625rem;
        padding: .375rem;
        height: auto;
    }

    .footer__card{
        width: 90%;
        margin-bottom: .9375rem;
    }

    .footer__card--remove-bottom-indent{
        margin-bottom: 0;
    }
}

@media(min-width: 416px) and (max-width: 767px){
    .banner__blackout-title{
        font-size: .75rem;
        padding: .625rem;
        height: auto;
    }

    .footer__card{
        width: 40%;
        margin-bottom: .9375rem;
    }

    .footer__card--remove-bottom-indent{
        margin-bottom: 0;
    }

    .footer{
        justify-content: space-around;
    }
}

@media(min-width:768px) and (max-width: 1170px){  
    .header__logo{
        padding-left: .625rem;
    }
    
    .subscribe-area__title{
        margin-bottom: .625rem;
    }

    .subscribe-area{
        justify-content: center;
    }

    .services{
        padding: 0 .9375rem;
    }

    .main__headline-wrapper{
        margin: 2.5rem .625rem;
    }

    .main__users-panel-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .users-panel{
        max-width: 37.5rem;
        display: flex;
        justify-content: space-between;
    }
    
    .users-panel__card{
        margin: 0 0 .9375rem 0;
    }

    .container__footer{
        margin: .9375rem 0 .9375rem 0;
        justify-content: space-around;
    }

    .footer__card{
        width: 20%;
    }

    .footer__card-name{
        margin-bottom: .3125rem;
    }

    .footer__sn{
        margin-right: .9375rem;
    }

    .footer_card-info{
        margin-left: 0;
    }
}